<div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-exclamation-triangle-fill text-warning" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.964 0L.165 13.233c-.457.778.091 1.767.982 1.767h13.706c.89 0 1.438-.99.982-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
        </div>
        <h1 class="display-4 fw-bold">Acesso Não Autorizado</h1>
        <p class="lead">Desculpe, você não tem permissão para acessar esta página.</p>
        <a href="/home" class="btn btn-primary btn-lg mt-3" style="color: white !important
        ">Voltar para Página Inicial</a>
      </div>
    </div>
  </div>
  