option:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.nav-pills .nav-link.active {
    background-color: transparent; /* Remove background color */
    color: #007bff !important; /* Set desired text color */
}

.active{
    color: #007bff !important;
}

a{
    color: black !important;
}