<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Simple CRUD Application</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
     
      
      @if(userLogged()){
        @if(userRole === "ADMIN"){
          <li class="nav-item"><a class="nav-link" routerLink="adicionar/produto" routerLinkActive="active">Adicionar</a></li>
          
        }
        <li class="nav-item"><a class="nav-link" routerLink="produtos" routerLinkActive="active">Produtos</a></li>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <b>{{login}} </b> @if(userRole === "ADMIN"){
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill me-2" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.396.197-.845-.113-.745-.545l.982-5.733-4.199-4.11c-.36-.348-.175-.949.283-.949h5.785l2.002-5.248c.183-.482.848-.482 1.031 0l2.002 5.248h5.785c.458 0 .644.601.283.949l-4.199 4.11.982 5.733c.1.432-.349.742-.745.545L8 13.187l-5.388 2.256z"/>
                </svg>
              }
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <option class="dropdown-item" (click)="onExitClick()" >Sair</option>
          </ul>
      </div>

      } @else{
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="login">Entrar</button>
        </li>
      }
       
     
     
    </ul>
  </header>
</div>