<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Simple CRUD Application</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="produtos" routerLinkActive="active">Produtos</a></li>
      
     
      
      @if(userLogged()){
        @if(userRole === "ADMIN"){
          <li class="nav-item"><a class="nav-link" routerLink="adicionar/produto" routerLinkActive="active">Adicionar</a></li>
        }
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <b>{{login}}</b>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <option class="dropdown-item" (click)="onExitClick()" >Sair</option>
          </ul>
      </div>
      }
       
     
      @else{
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="login">Entrar</button>
        </li>
      }
    </ul>
  </header>
</div>