<main class="form-signin align">
    <form class="p-3 shadow rounded-2">
        <h1 class="h3 mb-3 fw-normal text-center">Registrar</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Endereço de Email</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Senha">
            <label for="floatingPassword">Confirmar Senha</label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

        <p class="mt-3" >Já tem uma conta? <a  style="color: blue !important;" routerLink="/login">Entre!</a></p>
        <p class="mt-3 mb-3 text-muted" >© 2024</p>
    </form>
</main>