<main class="form-signin align" [formGroup]="form">
    <form class="p-3 shadow rounded-2">
        <h1 class="h3 mb-3 fw-normal text-center">Adicionar um produto</h1>
        <div class="form-floating">
            <input type="text"
                [ngClass]="{'is-invalid': form.controls['name'].touched && form.controls['name'].invalid && form.controls['name'].dirty}"
                class="form-control" id="floatingInput" placeholder="Nome do produto" formControlName="name">
            <label for="floatingInput">Nome do Produto</label>
            @if(nameIsInvalid){
            <p class="text-danger mb-0">O nome precisa ser preenchido</p>
            }
        </div>
        <br>


        <div class="form-floating">
            <input type="number"
                [ngClass]="{'is-invalid': form.controls['priceInCents'].touched && form.controls['priceInCents'].invalid && form.controls['priceInCents'].dirty}"
                class="form-control" id="floatingPrice" placeholder="Preço" formControlName="priceInCents">
            <label for="floatingPrice">Preço</label>
            @if(priceIsInvalid){
            <p class="text-danger mb-0">O preço precisa ser preenchido</p>
            }
        </div>

        <br>
        <div class="form-floating">
            <select
                [ngClass]="{'is-invalid': form.controls['category'].touched && form.controls['category'].invalid && form.controls['category'].dirty}"
                class="form-control" id="floatingCategory" formControlName="category">
                <option value="" disabled selected>Selecione uma categoria</option>
                <option *ngFor="let category of categories()" [value]="category.category">{{category.category}}</option>
            </select>
            <label for="floatingCategory">Categoria</label>
        </div>

        <br>
        <div class="form-floating">
            <textarea class="form-control"
                [ngClass]="{'is-invalid': form.controls['description'].touched && form.controls['description'].invalid && form.controls['description'].dirty}"
                placeholder="Descrição" id="floatingTextarea" formControlName="description"
                style="height: 150px;"></textarea>
            <label for="floatingTextarea">Descrição</label>
            @if(descricaoIsInvalid){
            <p class="text-danger mb-0">É preciso preencher a descrição!</p>
            }
        </div>




        <br>

        <br>
        <button class="w-100 btn btn-lg btn-success" type="submit" (click)="addNewProduct()">Adicionar</button>
    </form>

</main>