
 @if (isVisible) {

<div class="modal custom-modal-animation" id="customModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog p-0">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalLabel">{{ title }}</h4>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
        </div>
        <div class="modal-body">
          <h5>{{ message }}</h5>
          
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="cancel()">NÃO, CANCELAR</button>
          <button type="button" class="btn btn-danger" (click)="confirm()">SIM, DELETAR</button>
        </div>
      </div>
    </div>
  </div>
  
 }
  