.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
  
  button {
    margin: 0 10px;
  }

  /* Modal Fade-in and Scale Animation */
@keyframes modalFadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Modal Fade-out and Scale Animation */
  @keyframes modalFadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  
  /* Apply animation to modal */
  .custom-modal-animation .modal-dialog {
    animation: modalFadeIn 0.4s ease-out forwards;
  }
  
  .modal.fade.custom-modal-animation.show .modal-dialog {
    animation: modalFadeIn 0.4s ease-out forwards;
  }
  
  .modal.fade.custom-modal-animation .modal-dialog {
    animation: modalFadeOut 0.4s ease-in forwards;
  }
  
  