<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
       
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sobre o projeto</h5>
          <p>
            Projeto pessoal para consolidar conceitos de aplicações WEB RESTful. Utilizando Angular e Spring Boot.
          </p>
        </div>
  
      
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-dark">Home</a>
            </li>
          </ul>
        </div>
  
       
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled mb-0">
            <li><strong>Email:</strong> pedro_athayde&#64;outlook.com</li>
            <li><strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/pedroathayde/"> Pedro Athayde </a></li>
          </ul>
        </div>
      </div>
    </div>
 
    <div class="text-center p-3 bg-dark text-light">
      © 2024 Copyright: 
      <a class="text-light" href="#">Pedro Luiz Vidal Athayde</a>
    </div>
  </footer>
  