
.dropdown-item:hover{
    cursor: pointer;
    background-color: #007bff;
    color: white !important;
}
.btn-dropdown{
    min-width: 11vw;
}


.flex-container {
    display: flex !important;               /* Makes the div a flex container */
    justify-content: flex-end !important;   /* Aligns items to the end */
    align-items: center !important;         /* Vertically center items */
}
